*{
    margin: 0px;
    padding: 0px;
}
img{
    width: 17rem;
    height: 5.75rem;
}


.heading{   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12.5rem;
}

.nav{
    display: flex;
    height: 3rem;
    width: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;
}


.nav-empty{
    width: 75%;
}
.nav-icons{
    width: 25%;
    display: flex;
    padding: 0rem 0.3rem;
    margin-top: 1rem;
    justify-content: space-around;
}

.nav-icons a{
    text-decoration: none;
    color: black;
}

.nav-icons a:hover{
    text-decoration: underline;
}

.nav-icons a,i,img{
    padding: 0rem 0.5rem;
}

.image img{
    height: 2rem;
    width: 2rem;
    background-size: cover;
    border-radius: 50%;
    margin-top: -0.5rem;
}

/* .upper{
    display: flex;
}

.upper .youtube{
    display: flex;
}

.upper .download{
    display: flex;
}


.upper img{
    height: 1.5rem;
    width: 1.5rem;
} */

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; 
    border: 2px solid #f1f3f4;
    margin: 3rem 27rem 0rem 27rem;
    border-radius: 50px;
    padding: 0rem 0.5rem;
    opacity: 0.75;
}

.form{
    width: 30rem;
    height: 2.75rem;
    border: none;
    font-size: 20px;
}


.add-shotcut{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.circle{
    height: 4rem;
    width: 4rem;
    background-color: #f1f3f4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.plus{
    font-size: 25px;
}

.btn{
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 0rem 1rem 1rem 0rem;
}

.submit{
    background-color: white;
    color: #1A73E8;
    border-radius: 3rem;
    padding: 0.5rem 1rem;
    font-size: 15px;
    height: 2.5rem;
    width: 12rem;
    border: 2px solid #f1f3f4;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16)
}

.submit:hover{
   background-color: rgba(0, 0, 0, 0.1);
}

